.joke-block {
    display: block;
    margin: 10px 0;
    padding: 0 0;
    text-align: left;
    border: 1px solid #ccc;
}

.joke {
    display: inline-block;
    font-size: 20px;
    margin: 0 40px;
    padding: 5px 10px;
}